.header {
  background-image: url("../img/wood.jpeg");
}

.about-item {
  opacity: 0; /* 처음에는 요소가 보이지 않도록 설정 */
  transition: opacity 1.4s ease-in-out; /* fade 효과를 적용할 transition 속성 설정 */
}
.about-item.is-visible {
  opacity: 1; /* 요소가 화면에 보일 때 opacity 값을 1로 변경 */
}
